<!DOCTYPE html>
<html lang="pt">
<head data-pagina="index">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Carga</title>
    <script src="padrao.js"></script>
</head>
<body>
    <canvas></canvas>
</body>
</html>